@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes diagonal-bg {
  0% {
    background-position: top left;
  }
  100% {
    background-position: bottom right;
  }
}

.diagonal-animate {
  background-image: linear-gradient(to bottom right, rgb(228, 220, 220), rgb(172, 171, 171));
  background-size: 200% 200%;
  animation: diagonal-bg 1s infinite alternate;
}
